/*Bootstrap for header*/
body {
  background-color: gainsboro;
}
.jumbotron {
  text-align: center;
  border-bottom: 8px solid black;
}

/*Bootstrap for time rows*/

/*Custom save button?*/

/*Custom clear button?*/

/*different colors for rows depending on time*/
