body {
  background-color: gainsboro;
}

/*Bootstrap for header*/
.jumbotron {
  text-align: center;
  border-bottom: 8px solid black;
  background-color: darkgrey;
}

/*Bootstrap for time rows*/

textarea {
  white-space: pre-wrap;
}

.container {
  width: 100%;
  height: 100%;
  float: center;
}

.row {
  white-space: pre-wrap;
  height: 75px;
  justify-content: center;
}

.time {
  background-color: darkgrey;
  text-align: center;
  width: 10%;
  border: 1px solid black;
  padding-top: 25px;
}

/*Custom save button?*/

/*Custom clear button?*/

/*different colors for rows depending on time*/
